#contacts{
    flex-direction: column;
    padding: 50px;
    display: none;
    max-width: 700px;
}

.contact-type{
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    width: 20%;
    padding: 5%;
    text-align: center;
    margin: 30px auto 0;
    letter-spacing: 2px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: white;
}

.contact-type.visible{
    opacity: 1;
    animation: fadein 0.5s ease-in-out;
}

.contact-type img{
    width: 80%;
}

#contacts-pc{
    display: none;
    flex-direction: column;
}

.contact-type-pc{
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 20px;
    user-select:text;
}

.contact-type-pc img{
    max-width: 50px;
    margin-right: 20px;
}

@media (min-width: 700px){
    #contacts{
        display: none;
        flex-direction: row;
        justify-content:space-around;
        width: 50%;
        margin: 50px auto 100px;
        align-items: flex-start;
    }
}