/*
background-color: rgb(176, 210, 235); light blue
background-color: rgb(2, 31, 64); dark blue
*/
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(180, 180, 180), #f0f0f0);
    font-size: 24px;
    text-align: center;
    user-select: none;
}

section{
    margin: 0 auto;
}

img{
    width: 60%;
}

#top-content{
    background-color: black;
    color: white;
    padding: 100px 0 20px;
    text-align: center;
}

#top-content *{
    max-width: 200px;
}

#top-content p{
    margin: 20px auto 0;
}

.press-button, .press-button-choice{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 26, 26);
    margin-top: 20px;
}

.press-button-choice{
    background-color: rgb(26, 26, 26);
    color: white;
    max-width: 150px;
    margin: 20px auto;
}

.press-button-chosen{
    transition: 0.1s;
    background-color:white ;
    color: rgb(26, 26, 26)
}

h1{
    padding: 20px 0;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom,black 0%, rgb(26, 26, 26) 90%, #f0f0f0 100%);
    max-width: 100%;
}

h2{
    margin: 30px auto 0;
    width: 90%;
    font-size: 24px;
}

#answer{
    font-size: 20px;
    margin-top: 10px;
    max-width: 700px;
    padding: 0 2%;
}

#company-types{
    margin: 100px auto 50px;
    max-width: 1200px;
}

.company-type{
    background-color: rgb(26, 26, 26);
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    margin: 15px auto;
    align-items: center;
}

.company-image{
    width: 40%;
    max-width: 100px;
}

.company-text-container{
    flex-direction: column;
    text-align: center;
}

.company-type-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.company-type-description{
    font-size: 18px;;
}

#main-points{
    margin: 0 0 8vh;
    max-width: 700px;
    margin: 0 auto;
}

#main-points p{
    margin-top: 10px;
    font-weight: bold;
}

#short-steps{
    margin: 50px auto;
}

.short-step{
    max-width: 300px;
    margin: 20px auto;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    color: rgb(209, 204, 196);
    padding: 15px;
    text-align: left;
    opacity: 0; /* Start with the element hidden */
    transition: opacity 0.2s ease-out;
}

.module.visible, .short-step.visible{
    opacity: 1; /* Make the element visible when in view */
    animation: fadeIn 0.7s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#contacts{
    display: none;
}

#contacts-pc{
    display: none;
}

.step-name{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.step-description{
    font-size: 18px;
    margin-top: 10px;
}

#module-choice{
    margin-bottom: 100px;
}

#explanation{
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(216, 204, 183);
    background-color: rgb(26, 26, 26);
    max-width: 100%;
}

#pre-contact{
    width: 90%;
    max-width: 700px;
    font-size: 20px;
}

@keyframes fadein{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

@keyframes growShrink {
    0% {
        transform: scale(1); /* Initial size */
    }
    50% {
        transform: scale(1.2); /* Grow to 1.5 times the size */
    }
    100% {
        transform: scale(1); /* Shrink back to initial size */
    }
}

.hidden {
    animation: fadeout 0.5s forwards;
}

@media (min-width: 700px) , (orientation: landscape) {

    #explanation{
        font-size: 32px;
    }
    
    #short-steps{
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        margin: 20px auto 0;
    }

    .company-type{
        flex-direction: row;
        width: 50%;
        padding: 15px 0;
        padding-right: 15px;
    }

    .company-text-container{
        text-align: left;
    }
}
