/*
background-color: rgb(176, 210, 235); light blue
background-color: rgb(2, 31, 64); dark blue
*/
body{
    color: rgb(26, 26, 26);
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(0deg,rgb(146, 146, 146) ,rgb(0, 0, 0) 20%);
}

#module-choice{
    margin-bottom: 0;
}

.press-button{
    background-color: rgb(26, 26, 26);
    margin: 0px auto;
    transition: 0.1s;
    font-weight: bold;
    border-radius: 0;
    color: white;
}

.press-button-chosen{
    background-color: black;
    color: white;
}

 #modules-12{
    background: linear-gradient(0deg, black, rgb(26, 26, 26));
    padding: 30px 1%;
    color: rgb(233, 233, 233);
    text-align: left;
    transition: 0.2s;
}

#modules-title{
    font-size: 24px;
    text-align: left;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.module{
    margin: 30px auto 0;
    padding: 15px;
    width: 80%;
    border-radius: 15px;
    max-width: 500px;
    opacity: 0; /* Start with the element hidden */
    transition: opacity 0.2s ease-out;
}

.module-title{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.module-goal{
    margin-top: 10px;
}

.module-duration{
    font-weight: bold;
}

.module-activities{
    margin: 20px 0;
    text-align: left;
    width: 90%;
    padding-left: 20px;
}

.module-activity{
    font-size: 18px;
    margin-top: 5px;
}

#contacts{
    display: flex;
}

#contacts-pc{
    display:  none;
    margin: 100px 0;
}

@media (min-width: 700px){

    .press-button{
        border-radius: 15px;
    }

    #module-choice{
        display: flex;
        justify-content: center;
        max-width: 500px;
        margin:0 auto;
        padding: 30px;
    }

    .module-title{
        font-size: 24px;
    }

    #contacts{
        display: none;
    }

    #contacts-pc{
        display: flex;
    }
}